<h1>About Us:</h1>

<div class="about">
  <p>We are car enthusiasts, and strive to provide every customer with a 'dream like' experience.</p>
  <p>We look for the highest quality pre-owned vehicles that have been meticulously maintained by their original owner.</p>
  <p>Many of our vehicles still have a transferable manufacture warranty.</p>
  <p>In addition to providing the highest quality pre-owned vehicles, we stand committed to our customers by allowing a 7 day grace period.</p>
  <p>You can return your car without questions asked within the grace period.</p>
  <p>This allows customers to feel confident	 that they made the right decision by coming to Heavyweight auto sales.</p>
</div>
