<h1>contact</h1>

<form class="" action="/submit" method="post">
  Name:
  <input type="text" name="name" value="">
  <br>
  Email:
  <input type="email" name="email" value="">
  <br>
  <input type="submit" name="" value="SUBMIT">
</form>
