homepage

<!-- The Modal -->
<div id="myModal" class="modal hidden">

  <!-- Modal content -->
 <div class="modal-content">
    <span class="close">&times;</span>
    <br>
    <br>
    <div>
    <p class="modal-text">Consider yourself lucky this isn't an advertisement this time, but to make sure your not a robot pet the tiger or click the "X" to close.</p>
  </div>
 </div>

 <script src="/JS/index.js"></script>