<h1>Inventory <br><br>All cars colors are cutomizable</h1>

<div class="gallery">
		<div class="bg-img" style="background-image: url('http://www.encontracarros.com/upload/bentley/bentley-continental-gt-supersport-convertible-2011-1280.jpg')"></div> 
		<div class="desc">2012 - Lorem ipsum $75,000</div>
	</div>

<div class="gallery">
		<div class="bg-img" style="background-image: url('http://1.bp.blogspot.com/-7oHEHQ9l5MY/UuFmEr3FTSI/AAAAAAAACvw/ZA8a03UeSD0/s1600/car+white+background.png')"></div> 
		<div class="desc">2012 - Lorem ipsum $96,000</div>
	</div>

<div class="gallery">
		<div class="bg-img" style="background-image: url('https://images.fineartamerica.com/images-medium-large-5/white-tesla-model-s-luxury-electric-car-oleksiy-maksymenko.jpg')"></div> 
		<div class="desc">2012 - Lorem ipsum $42,000</div>
	</div>

<div class="gallery">
		<div class="bg-img" style="background-image: url('http://www.regency.co.uk/img/vehicles/6.png')"></div> 
		<div class="desc">2012 - Lorem ipsum $82,000</div>
	</div>

<div class="gallery">
		<div class="bg-img" style="background-image: url('https://www.kimballstock.com/pix/AUT/45/AUT-45-IZ0105-01P.JPG')"></div> 
		<div class="desc">2012 - Lorem ipsum $38,000</div>
	</div>

<div class="gallery">
		<div class="bg-img" style="background-image: url('https://www.cbg.ie/uploaded/nc_images/generations/large/audi-r8-18.png')"></div> 
		<div class="desc">2012 - Lorem ipsum $86,000</div>
	</div>
