<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>This is a Website</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <h1>My Website</h1>

      <h2>Vertical Navigation Bar</h2>

      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/contact">Contact</a></li>
        <li><a href="/about">About</a></li>
      </ul>

      <%= yield %>
  </body>
</html>
