<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>This is a Website</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body class="main">
    <h1 style="float: right">Heavyweight Auto Sales</h1>

      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/inventory">Inventory</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/specials">Specials</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>

      <%= yield %>
  </body>
</html>
