<!-- <button type="button" name="button" id="specials">Click to change</button> -->
<input type="submit" value="Click to change" id="specials">
  <img src="/img/audi.jpg" alt="" id="one">
  <img src="/img/benz.jpg" alt="" id="two">
  <img src="/img/bmw.jpg" alt="" id="three">


 <script src="/JS/scripts.js"></script>
